using System.Runtime.Serialization;
using System.Collections.Immutable;
using PokeSharp.Abstractions;
using PokeSharp.Compiler.Core.Serialization;

namespace {{Namespace}};

{{DeclaredAccessiblity}}partial {{ObjectType}} {{ClassName}} : IPbsDataModel<{{ClassName}}>
{
    public static string BasePath => "{{FileName}}";
    public static bool IsOptional => {{IsOptionalString}};

    public static {{ClassName}} ParsePbsData(PbsSection section, Func<string, {{ClassName}}> modelFactory = null)
    {
        {{#Properties}}
        {{#IsSectionName}}
        var prop_{{Name}} = Parse_{{Name}}({{#NeedsSectionName}}section.SectionName, {{/NeedsSectionName}}section.SectionName);
        {{/IsSectionName}}
        {{^IsSectionName}}
        {{#AppearsOnce}}
        var found_{{Name}} = false;
        {{Type}} prop_{{Name}} = default;
        {{/AppearsOnce}}
        {{^AppearsOnce}}
        var prop_{{Name}} = new {{ConcreteType}}();
        {{/AppearsOnce}}    
        {{/IsSectionName}}
    
        {{/Properties}}
        foreach (var (key, rawValue, lineData) in section.Lines)
        {
            try
            {
                switch (key)
                {
                    {{#Properties}}
                    {{^IsSectionName}}
                    case "{{KeyName}}":
                        {{#AppearsOnce}}
                        found_{{Name}} = true;
                        prop_{{Name}} = Parse_{{Name}}({{#NeedsSectionName}}section.SectionName, {{/NeedsSectionName}}rawValue);
                        {{/AppearsOnce}}
                        {{^AppearsOnce}}
                        prop_{{Name}}.Add(Parse_{{Name}}({{#NeedsSectionName}}section.SectionName, {{/NeedsSectionName}}rawValue));    
                        {{/AppearsOnce}}   
                        break;
                    {{/IsSectionName}}
                    {{/Properties}}
                }
            }
            catch (SerializationException ex)
            {
                throw new PbsParseException($"{ex.Message}\n{lineData.LineReport}", ex);
            }
        }
        {{#Properties}}
        {{^IsSectionName}}
        {{#IsRequired}}
        {{#AppearsOnce}}
        
        if (!found_{{Name}})
        {
            throw new PbsParseException($"Missing required property '{{Name}}'\n{lineData.LineReport}");
        }    
        {{/AppearsOnce}}
        {{/IsRequired}}
        {{/IsSectionName}}    
        {{/Properties}}
        
        {{ClassName}} result;
        if (modelFactory is not null) 
        {
            result = modelFactory(section.SectionName);
            {{#Properties}}
            {{#IsRequired}}
            {{^IsInitOnly}}
            result.{{Name}} = prop_{{Name}};
            {{/IsInitOnly}}
            {{/IsRequired}}
            {{/Properties}}
        }
        else
        {
            result = new {{ClassName}} 
            {
                {{#Properties}}
                {{#IsRequired}}
                {{Name}} = prop_{{Name}},
                {{/IsRequired}}
                {{/Properties}}
            };
        }
        {{#Properties}}
        {{^IsRequired}}
        {{#AppearsOnce}}
        
        if (found_{{Name}})
        {
            result.{{Name}} = prop_{{Name}};
        }    
        {{/AppearsOnce}}
        {{^AppearsOnce}}
            
        result.{{Name}} = prop_{{Name}};    
        {{/AppearsOnce}}    
        {{/IsRequired}}
        {{/Properties}}

        return result;
    }
    {{#Properties}}
    
    private static {{ParsedType}} Parse_{{Name}}({{#NeedsSectionName}}string sectionName, {{/NeedsSectionName}}string value)
    {
        {{#IsSimpleType}}
        var soleEntry = CsvParser.SplitCsvLine(value).Single();
        {{#TypeEntries}}
        return {{>ParseLogic Parameter='soleEntry'}};  
        {{/TypeEntries}}
        {{/IsSimpleType}}
        {{^IsSimpleType}}
        {{#IsCollection}}
        var result = new {{ConcreteType}}();
        {{#IsFixedSize}}
        var splitLine = CsvParser.SplitCsvLine(value).ToImmutableArray(); 
        {{#WithIndent '        '}}
        {{>EvaluateComplexType ResultLineStart='result.Add(' ResultLineEnd=');'}}
        {{/WithIndent}}
        {{/IsFixedSize}}
        {{^IsFixedSize}}
        
        {{#NeedsSubsections}}
        foreach (var splitLine in CsvParser.SplitCsvLine(value).Chunk({{TypeEntries.Length}}).Select(b => b.ToImmutableArray()))
        {
            {{~#WithIndent '            '~}}
            {{>EvaluateComplexType ResultLineStart='result.Add(' ResultLineEnd=');' MultipleOf=true}}
            {{~/WithIndent~}}
        }
        {{/NeedsSubsections}}
        {{^NeedsSubsections}}
        foreach (var entry in CsvParser.SplitCsvLine(value))
        {
            result.Add({{>ParseLogic Parameter='entry'}});
        }
        {{/NeedsSubsections}}
              
        {{/IsFixedSize}}
        return result;  
        {{/IsCollection}}
        {{^IsCollection}}
        var splitLine = CsvParser.SplitCsvLine(value).ToImmutableArray();    
        {{#WithIndent '        '}}
        {{>EvaluateComplexType ResultLineStart='return ' ResultLineEnd=';'}}
        {{/WithIndent}}
        {{/IsCollection}}
        {{/IsSimpleType}}
    }
    {{/Properties}}

    public IEnumerable<string> WritePbsData()
    {
        {{#Properties}}
        {{#IsSectionName}}
        yield return $"[{Write_{{Name}}({{Name}})}]";    
        {{/IsSectionName}}
        {{/Properties}}

        {{#Properties}}
        {{^IsSectionName}}
        {{#AppearsOnce}}
        var prop_{{Name}}_str = Write_{{Name}}({{Name}});    
        if (prop_{{Name}}_str is not null)
        {
            yield return $"{{KeyName}} = {prop_{{Name}}_str}";
        }
        {{/AppearsOnce}}
        {{^AppearsOnce}}
        foreach (var element in {{Name}})
        {
            var prop_{{Name}}_str = Write_{{Name}}(element);    
            if (prop_{{Name}}_str is not null)
            {
                yield return $"{{KeyName}} = {prop_{{Name}}_str}";
            }
        }
        {{/AppearsOnce}}
        {{/IsSectionName}}    
        {{/Properties}}
    }
    {{#Properties}}
    
    private static string Write_{{Name}}({{RawParsedType}} value)
    {
        {{#AppearsOnce}}
        {{#IsNullable}}
        if ({{#IsValueType}}!value.HasValue{{/IsValueType}}{{^IsValueType}}value is null{{/IsValueType}}) return null;
        {{/IsNullable}}
        {{/AppearsOnce}}
        {{#IsCollection}}
        if (value.Count == 0) return null;
        {{/IsCollection}}

        {{#IsSimpleType}}
        return {{>WriteMethodCall Value='value'}};
        {{/IsSimpleType}}
        {{^IsSimpleType}}
        {{#IsCollection}}
        {{#NeedsSubsections}}
        {{#IsFixedSize}}
        var output = new List<string>({{MaxLength}});
        {{#TypeEntries}}
        {{#IsOptional}}if (value{{>NullableAccess}}.Count > {{Index}}) {{/IsOptional}}output.Add({{#Indexed}}{{>WriteMethodCall Value='value[{{Index}}]'}}{{/Indexed}});
        {{/TypeEntries}}
        {{/IsFixedSize}}
        {{^IsFixedSize}} 
        return string.Join(',', value{{>NullableAccess}}.SelectMany(IEnumerable<string> (x) =>
            {
                var ({{#TypeEntries}}item{{Index}}{{^IsLast}}, {{/IsLast}}{{/TypeEntries}}) = x;
                return [{{#TypeEntries}}{{#Indexed}}{{>WriteMethodCall Value='item{{Index}}'}}{{/Indexed}}{{^IsLast}}, {{/IsLast}}{{/TypeEntries}}];
            }));
        {{/IsFixedSize}}
        {{/NeedsSubsections}}
        {{^NeedsSubsections}}
        return string.Join(',', value{{>NullableAccess}}.Select(x => {{>WriteMethodCall Value='x'}}));
        {{/NeedsSubsections}}
        return null;
        {{/IsCollection}}
        {{^IsCollection}}
        var ({{#TypeEntries}}item{{Index}}{{^IsLast}}, {{/IsLast}}{{/TypeEntries}}) = value{{>NullableAccess}};
        var output = new List<string>({{MaxLength}});
        {{#TypeEntries}}
        {{#IsOptional}}if (item{{Index}} != {{DefaultValue}}) {{/IsOptional}}output.Add({{#Indexed}}{{>WriteMethodCall Value='item{{Index}}'}}{{/Indexed}});
        {{/TypeEntries}}
        return string.Join(',', output);
        {{/IsCollection}}
        {{/IsSimpleType}}
    }
    {{/Properties}}
}