{{~#NeedsConversion~}}
Text.Localized("{{../../../Namespace}}.{{../../../ClassName}}", $"{sectionName}.{{../../Name}}", {{>ParseMethodCall}})
{{~/NeedsConversion~}}    
{{~^NeedsConversion~}}
{{>ParseMethodCall}}
{{~/NeedsConversion~}}