#nullable enable
using PokeSharp.Abstractions;

namespace {{Namespace}};

{{#Extensions}}
public static partial class {{../ClassName}}_{{EngineName}}
{
    {{#Properties}}
    private static readonly Name {{../EngineName}}_{{Identifier}} = "{{Identifier}}";
    {{/Properties}}
        
    extension({{ExtendedClass}})
    {
        {{#Properties}}
        public static Name {{Identifier}} => {{../EngineName}}_{{Identifier}};
        {{/Properties}}
    }
}

{{/Extensions}}