#nullable enable
using Microsoft.Extensions.DependencyInjection;
using Microsoft.Extensions.Options;
using PokeSharp.Core;
using PokeSharp.Core.State;

namespace {{Namespace}};

public static class {{ServiceName}}ServiceShortcut 
{
    private static CachedService<{{WrappedType}}> _instance = new();

    extension(GameGlobal) 
    {
        public static {{ServiceType}} {{ServiceName}} => _instance.Instance{{AdditionalAccessor}};
    }
}