#nullable enable
using System.Text.Json;
using PokeSharp.Core.Strings;
using PokeSharp.Editor.Core.PokeEdit.Requests;
using PokeSharp.Editor.Core.PokeEdit.Serialization;

namespace {{Namespace}};

partial class {{ClassName}} : IApiController
{
    public IEnumerable<(ApiVerb Verb, RouteNode Node)> GetRoutes(JsonSerializerOptions jsonOptions) 
    {
        return [];
    }

    {{#Routes}}
    private sealed class {{MethodName}}Handler({{../ClassName}} controller, JsonSerializerOptions jsonOptions) : IRequestHandler 
    {
        public void Process(RouteValueBuffer buffer, Stream requestStream, Stream responseStream)
        {
            {{#HasPathParameters}}
            ParsePathParameters(buffer{{#PathParameters}}, out var {{Name}}{{/PathParameters}});
            {{/HasPathParameters}}
            {{#HasRequestBody}}
            var request = JsonSerializer.Deserialize<{{RequestType}}>(requestStream, jsonOptions);
            {{#RequestTypeNotNull}}
            if (request is null) throw new InvalidOperationException("Request body was null");
            {{/RequestTypeNotNull}}
            {{/HasRequestBody}}
            {{#HasResponseBody}}var response = {{/HasResponseBody}}controller.{{MethodName}}({{RequestParameters false}});
            {{#HasResponseBody}}
            {{#ResponseNotNull}}
            if (response is null) throw new InvalidOperationException("Response was null");    
            {{/ResponseNotNull}}
            JsonSerializer.Serialize(responseStream, response, jsonOptions);
            {{/HasResponseBody}}
            {{^HasResponseBody}}
            using var streamWriter = new StreamWriter(responseStream);
            streamWriter.WriteAsync("{}");
            {{/HasResponseBody}}
        }
    
        public ValueTask ProcessAsync(RouteValueBuffer buffer, Stream requestStream, Stream responseStream, CancellationToken cancellationToken = default)
        {
            {{#HasPathParameters}}
            ParsePathParameters(buffer{{#PathParameters}}, out var {{Name}}{{/PathParameters}});
            {{/HasPathParameters}}
            return InvokeAsync({{#PathParameters}}{{Name}}, {{/PathParameters}}requestStream, responseStream, cancellationToken);
        }
    
        {{#HasPathParameters}}
        private static void ParsePathParameters(RouteValueBuffer buffer{{#PathParameters}}, out {{Type}} {{Name}}{{/PathParameters}})
        {
            {{#PathParameters}}
            {{Name}} = {{PathParamGetter}};
            {{/PathParameters}}
        }
        {{/HasPathParameters}}
    
        private async ValueTask InvokeAsync({{#PathParameters}}{{Type}} {{Name}}, {{/PathParameters}}Stream requestStream, Stream responseStream, CancellationToken cancellationToken = default)
        {
            {{#HasRequestBody}}
            var request = await JsonSerializer.DeserializeAsync<{{RequestType}}>(requestStream, jsonOptions, cancellationToken);
            {{#RequestTypeNotNull}}
            if (request is null) throw new InvalidOperationException("Request body was null");
            {{/RequestTypeNotNull}}
            {{/HasRequestBody}}
            {{#HasResponseBody}}var response = {{/HasResponseBody}}await controller.{{MethodName}}Async({{RequestParameters true}});
            {{#HasResponseBody}}
            {{#ResponseNotNull}}
            if (response is null) throw new InvalidOperationException("Response was null");    
            {{/ResponseNotNull}}
            await JsonSerializer.SerializeAsync(responseStream, response, jsonOptions, cancellationToken);
            {{/HasResponseBody}}
            {{^HasResponseBody}}
            await using var streamWriter = new StreamWriter(responseStream);
            await streamWriter.WriteAsync("{}", cancellationToken);
            {{/HasResponseBody}}
        }
    }
    {{/Routes}}
}